
<h1>Dashboard</h1>
<div class="card">
    <div class="card-head"> Collaborate smartly across teams</div>
    <div class="card-body">
        Use data tools to smartly assign and prioritize tasks, share files, and see who is doing what anytime. Our customizable boards keep everyone synced and working towards the same goal.
    </div>
</div>
<div class="card">
    <div class="card-head"> Collaborate smartly across teams</div>
    <div class="card-body">
        Use data tools to smartly assign and prioritize tasks, share files, and see who is doing what anytime. Our customizable boards keep everyone synced and working towards the same goal.
    </div>
</div>